<fieldset class="container responsive-table">
<legend class="text">Listado de ciudades</legend>
  <table>
    <thead>
      <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Editar</th>
          <th>Eliminar</th>


      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of listaCiudad">
        <td>{{p.id}}</td>
        <td>{{p.nombreCiudad}}</td>
        <td><a  routerLink="../editarCiudad/{{p.id}}"><i class="large material-icons">create</i></a></td>
      </tr>
    </tbody>
  </table>

</fieldset>
