
<body>
    <header>
        <figure class="logo">
            <img width="350" [src]="img" alt="">
        </figure>
    </header>
    <main class="container">
        <h2 class="container-title">Regístrate y crea tu cuenta</h2>
        <form action="" class="container-form">
            <label style="font-size: 16px;color: black;" for="action">Ingresa tu correo</label>
            <input 
            style="
        width: 270px;height: 55px;
        margin-bottom: 10px;
      
        border: solid 1px #fe5088;
        border-radius: 50px;
        outline: 0;"
            class="form01" type="text" placeholder="Correo electrónico">
            Ingresa una contraseña
            <input 
            style="
        width: 270px;
        height: 55px;
        margin-bottom: 10px;
        
        border: solid 1px #fe5088;
        border-radius: 50px;
        outline: 0;"            
            class="form02" type="password" placeholder="Contraseña">
            <button class="button-login">Regístrate</button>
        </form>
        <div class="container-foot"> ¿Ya tienes cuenta?<a class="login-link" href="seguridad/login">Iniciar sesión</a> </div>
    </main>
    
</body>
